<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Neo Cab</title>
  <link rel="shortcut icon" type="text/css" href="static/css/descarga.jpg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Lobster&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/css/neoCab.css">   
</head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Neo cab</a>
          <img src="static/css/descarga.jpg" alt="">
        <div class="nav">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          <a class="nav-link" href="#">Logros</a>
          <a class="nav-link" href="#">Mangas</a>
          <a class="nav-link" href="#">Acerca de</a>
      </div>
      </nav>
      <div class="cover d-flex justify-content-center align-items-center flex-column">
        <h1>Neo Cab</h1>

        <p>Guía de logros [18/18]</p>
        
          <a class="btn btn-dark" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2224653424" role="button">Fuente</a>
       
      </div>
    </header>
<!-- Parte de la historia primeros logros -->
  <section>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <h5>Parte de la historia</h5>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951058869/6FBDEB1E7C68C2AB915DAF3FF16A1C45642F81DE/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">La primera noche</h5>
            <p class="card-text"><u>Completa tu primera noche en Los Ojos.</u></p>
            <i>No se puede perder.</i>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951058891/476709AC1C0C7BE740C61E098866F9B6C7309A03/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Valoración perfecta</h5>
            <p class="card-text"><u>Consigue tu primera valoración de 5 estrellas.</u></p>
            <i>No se puede perder, el primero en darte la valoración de cinco estrellas será Liam.</i>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951058850/C198A92BADBB49503804941DC2769EFE4A2CDB74/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">El corazón en la muñeca</h5>
            <p class="card-text"><u>Consigue el SensaRed.</u></p>
            <i>No se puede perder.</i>
          </div>
        </div>
      </div> 
    </div>
  </section>
<!-- logros perdibles -->
  <section>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <h5>Logros "perdibles"</h5>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951058881/22F5592DF64A21ADA9BCD039895F97496ED7B923/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Stanzmaschine</h5>
            <p class="card-text"><u>Encuentra el club nocturno clandestino que te comentó Savy.</u></p>
            <i>Se puede perder si no se acude al club en toda la partida.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951058859/CAE918F2C32038032A99E66C6F416819D7939812/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">La peor conductora de la historia</h5>
            <p class="card-text"><u>Consigue tu primera valoración de 1 estrella.</u></p>
            <i>Se puede perder si no se recoge a Charlie, quién te dará una estrella no importa qué. Para completar el logro solo se debe recoger a Charlie, o llevar a pax (pasajeros) como Gildeon, Agonon, Marek, y responder lo peor que se pueda.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951080963/F4A1D78EBE18511BA03A214F1F7C385A559D85A3/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">The Vomitator</h5>
            <p class="card-text"><u>Limpia el vómito del asiento de atrás. ¡Un rito de iniciación para todos los conductores!</u></p>
            <i>Se puede perder si no se recoge a Luke, quien es un usuario premium. Se deben tener cinco estrellas para recogerlo.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951086923/0818FD9BFF756593E3D228AD1C853F187D58D0F9/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">¡Escríbeme!</h5>
            <p class="card-text"><u>Has convencido a Savy para que te confirme que está viva.</u></p>
            <i>Es uno de los logros mas "perdibles". Hay que ir al club Stanzmaschine por segunda vez, y hablar con Azul, preguntándole por Savy. En uno o dos viajes más Savy nos mandará un mensaje de texto y ahí obtendremos el logro.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951086933/DCE58C7035523F5DA063507553F18EF26A4C4E75/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Jugando a dos bandas</h5>
            <p class="card-text"><u>Descubre dónde estaba trabajando Savy cuando desapareció.</u></p>
            <i>Se debe recoger a Charlie en la noche dos, hay que tener cinco estrellas.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951086989/0730A0FDF070CE933E1A8FDC3E6AC995A0422BF1/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Va a ser que no, agente</h5>
            <p class="card-text"><u>Niégate a seguirle el rollo a un policía corrupto de la policía de Los Ojos.</u></p>
            <i>Se puede perder si no aceptamos subir a un pax en una zona de coches Capra, o si se acepta el soborno a la policía cuando nos para. Lo primero es recoger un pasajero que nos pida que paremos en la zona de Capra, y lo segundo es negarse a pagar. Recibirás una multa de 45$ pero te puede ayudar con otros logros de más adelante.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951086977/9F6C2D50A4706B6F6812001A4A0BE1990681ADC6/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Una noche en el Babylon</h5>
            <p class="card-text"><u>Pasa la noche en el hotel más cotroso de Los Ojos.</u></p>
            <i>Hay que juntar dinero. Es simple. Podemos pedirle a Azul que nos pague, podemos recoger a Sam dos veces para recibir 60$, y economizar donde se duerme y donde se carga el coche.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951086949/9922A15C7E3A597C690EEC8A8BD49A4192D47780/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Nunca es lupus</h5>
            <p class="card-text"><u>Resuelve un misterio médico con Carlos.</u></p>
            <i>Primero hay que recoger a Carlos en la noche cuatro. Después hay que guardar las pastillas que nos deja. Después hay que visitarlo en la clínica para devolvérselas, y finalmente hay que volver a la clínica para que comience el misterio de la enfermedad de su paciente.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951086969/B0E8800356E584D2D2E0CF82EBDCC23263A7F656/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Una amiga en problemas</h5>
            <p class="card-text"><u>Rescata a Allie en la manifestación de Radix.</u></p>
            <i>Se tiene que haber recogido a Allie antes de la noche cinco. Ella nos mandará un texto diciéndonos que necesita nuestra ayuda. Vamos y la ayudamos. Sin importar que Liam o Savy nos pida ayuda.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951086940/4AA6345D09F9D3CFBD6CD9DF51268FC5A16AE269/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Libérate</h5>
            <p class="card-text"><u>Ayuda a Gideon a librarse de su mecatraje.</u></p>
            <i>Hay que recoger a Gideon dos veces. La primera no pasará nada, pero la segunda nos pedirá ayuda para escapar de su madre biológica. Hay que ayudarla a escapar y nos dará el logro.</i>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951086958/BA0F3E6011C9E9596758B5CA599C4E0433345C50/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Tocando fondo</h5>
            <p class="card-text"><u>Quédate sin dinero ni combustible.</u></p>
            <i>Yo lo hice en cuatro noches. Hay que gastar cada vez que se pueda dinero en barras, recomiendo sacar este logro junto con el logro "El finiquito". Hay que ser lo más cruel que se pueda con los pasajeros, y si es posible bajarlos del coche para que nos de menos dinero. También hay que gastar en dormir en buenos lugares lo más que se pueda.</i>
          </div>
        </div>

      </div>
    </div>
  </section>
<!-- Finales -->
  <section>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <h5>Finales</h5>
        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951135620/2A716219ADDA415C041F30FB61C166AF572D7E86/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">El finiquito</h5>
            <p class="card-text"><u>Te han despedido de Neo Cab por obtener una valoración imperfecta.</u></p>
            <i>El logro mas complicado sin dudas. Hay que ser borde o cruel con todos los pasajeros, pero aún así habrán pasajeros que nos darán cinco estrellas y mantendremos la media. Hay que fijarse en recoger a Agonon, Gideon, Sam, Stella, o hacerlo muy mal en algunos viajes con Oona. Todo depende de la noche en la que se esté, recomiendo mucho cargar partida cuando nos den cinco estrellas y volver a una partida antigua para recoger otro pasajero y probar a ver si así nos dan una estrella o tres.</i>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951135647/FC027195E0ACDDCDFAABF8E31930FB5F2B171446/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Victoria emocional</h5>
            <p class="card-text"><u>Resiste a la manipulación emocional de Savy y gana.</u></p>
            <i>El segundo logro mas complicado. Me tomo horas averiguar cuales eran las respuestas correctas. Hay que jugarla de manera psicológica, siempre todo muy mental, hasta que el collarín de Savy se ponga rojo. Les dejo un vídeo que me sirvió de mucho:</i>
            <a class="btn btn-dark" href="https://youtu.be/48M3y6zGSeQ" role="button">Video</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951135631/A65FCDFD1A6A9E7B36981CD3458164DE3BB43FE2/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Filtraciones de Capra</h5>
            <p class="card-text"><u>Filtra los documentos robados y consigue que la votación de la Ley Sophie no favorezca a Capra.</u></p>
            <i>Después de obtener el logro de "Victoria emocional" podemos ir por este. Simplemente no hay que arrojar el Sensared del coche. Hay que seguir con el plan. Podemos cargar partida más tarde para hacer lo contrario.</i>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://steamuserimages-a.akamaihd.net/ugc/1634199852951135639/17DF24938AA36A593AACBE96F063190505A5C9F9/" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Ludismo</h5>
            <p class="card-text"><u>Destroza el SensaRed.</u></p>
            <i>Lo contrario, arroja el Sensared.</i>
          </div>
        </div>
  </section>
<!-- Advertencia -->
  <section>
    <h5>Advertencia</h5>
      <p>Por último, a mi no me dio los logros de manera normal, tuve que cerrar el juego y volverlo a abrir para que saltaran. De todas formas el juego tiene integrado una especie de sistema de logros que te avisa cuando consigues uno por partida. En fin, disfruten.</p>
  </section>
<!-- Correo -->
  <section>
    <div class="container mt-5 mb-5">
      <form action="">
        <label for="email">Correo Electronico</label>
          <div class="d-flex ">
            <div class="flex-fill mr-2">
              <input type="email" id="email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">
              Enviar
            </button>
          </div>
      </form>
    </div>
  </section>
  </body>
</html>
